  /* 底部 footer 样式 */
  .footer {
    position: relative; 
    transform: translateY(0%);
    /* background-color: #69a668; */
    /* background-color: #442b70; */
    background-color: #9f4298;
    color: white;
    text-align: center;
    z-index: 1000;
    padding: 20px;
  }
  
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .footer-link {
    font-size: 16px;
    cursor: pointer;
  }
  
  .footer-contact {
    font-size: 14px;
    margin-top: 10px;
  }