/* Header 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#A611CB;
    /* border-bottom: 1px solid #000; */
    position: relative;
    
  }
  .header .main_header{
    margin-left: 350px;
    position: relative;
    color: white;    
    
  }
  .header .main_header a{
    text-decoration: none;
    background-color: #A611CB;
    color: white;
    
  }
  
  .header h1 {
    background-color: #A611CB;
    font-size: 24px;
    
  }
  
  .header .user-id {
    background-color: #A611CB;
    font-size: 18px;
    color: white;
    
    
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    background-color: #A611CB;
    margin-right: 350px;
    color: white;
  }
  /* 드롭다운 메뉴 */
  .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
  margin-right: 350px;
  }
  
  .dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  .dropdown-menu li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  }
  
  .dropdown-menu li:last-child {
  border-bottom: none;
  }
  
  .dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
  }
  
  .dropdown-menu li a:hover {
  background-color: #f0f0f0;
  }