.PasswordEdit{
    width:728px;
    margin: 0 auto;
}
.PasswordEdit_Title{
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.PasswordEdit_Content{
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
}

.PasswordEdit_Content_Title{
    text-align: left;
    font-size: 20px;
}

.PasswordEdit_Content_Text{
    width: 100%;
    padding: 10px; /* 내부 패딩을 10px로 설정 */
    font-size: 16px; /* 글꼴 크기를 20px로 설정 */
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d8d8d8;
}
.PasswordEdit_Content_p{
    margin: 0;
    text-align: left;
    font-size: 20px;
}

.PasswordEdit_Btn{
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
}

.PasswordEdit_Btn_submit{
    width: 100%;
    padding: 20px 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #462679;
    cursor: pointer;
}

.PasswordEdit_Btn_submit:hover{

}

.PasswordEdit_Btn_cancel{
    width: 100%;
    padding: 20px 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.PasswordEdit_Btn_cancel:hover{

}

