

.DeleteEdit{
    width:728px;
    margin: 0 auto;
}
.DeleteEdit_Title{
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.DeleteEdit_Content1{
    width:80%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.DeleteEdit_Content2{
    width:80%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.DeleteEdit_Content3{
    margin-top: 20px;
}

input.DeleteEdit_Content_checkbox{

    display:none;
    }

input.DeleteEdit_Content_checkbox + label{
    
        cursor:pointer;
   }

   input.DeleteEdit_Content_checkbox + label > span{
    vertical-align: middle;
    padding-left: 5px;
    font-size: 20px;
    font-weight: 700;
   }

input.DeleteEdit_Content_checkbox + label:before{
    content:"";
    display:inline-block;
    width:40px;
    height:40px;
    border:2px solid #D9D9D9;
    border-radius: 4px;
    vertical-align:middle;
}

input.DeleteEdit_Content_checkbox:checked + label:before{
    content:"";
    background-color:#D9D9D9;
    border-color:#D9D9D9;
    background-image: url('../../png/check_btn.png');
    background-repeat: no-repeat;
    background-position: 50%;
    }

.DeleteEdit_Btn{
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
    margin-bottom: 70px;
}

.DeleteEdit_Btn_submit{
    width: 100%;
    padding: 20px 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #462679;
    cursor: pointer;
}

.DeleteEdit_Btn_submit:hover{

}

.DeleteEdit_Btn_cancel{
    width: 100%;
    padding: 20px 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

.DeleteEdit_Btn_cancel:hover{

}

.DeleteEdit_Btn_Content{
    margin-top: 30px;
}