/*  ./Components/Layout/login/main/css/dormantAuth.css */

.title{
    margin: 0 auto;
    font-size: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.Dormant_Message{
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    display: block;
}

.Dormant_Form{
    /* height: 400px; */
    margin-top: 100px;
    width: 100%;
    padding-right: 24px;
    overflow: hidden;
}


.Dormant_Write{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.Dormant_Input{
    padding: 10px; /* 내부 패딩을 10px로 설정 */
    font-size: 16px; /* 글꼴 크기를 20px로 설정 */
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d8d8d8;
}

.Dormant_Email__Btn{
    width: 100%;
    padding: 20px 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    background-color: #462679;
    margin-top: 152px;
  
}

.Dormant_Resend_Write{
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    display: block;
    cursor:pointer;
}