.CompanyBukken{
    height: 300px;
    position: relative;
    padding: 20px;
}

.CompanyBukken_Title{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.CompanyBukken_Title::before{
        content: "";
        border-left: 7px solid #9F4298;
        border-radius: 5px;
        margin-right: 10px;
}

.CompanyBukken_Btn{
    width: 80%;
    height: 120px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: #9F4298;
    background: linear-gradient(0deg, #9F4298 0%, #c75fbe 100%);
    border: none;
    font-size: 50px;
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.CompanyBukken_Btn:hover {
    background: #4e174a;
    background: linear-gradient(0deg, #4e174a 0%, #6b2566 100%);
 
 }