.page-aaa * {
  box-sizing: border-box;
}
body,html {
  font-family: 'Arial', sans-serif;
  /* height: 100%; */
  /* 确保html和body元素完全覆盖屏幕 */
  margin: 0;
  /* 去掉默认的边距 */
  padding: 0;
  /* 去掉默认的填充 */
}
.container-back {
  background-image: url('../move_img/mian_background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* 배경 이미지가 반복되지 않도록 설정 */
  min-height: 100vh; /* 최소 높이를 뷰포트 높이만큼 설정 */
  position: relative; /* relative로 변경하여 다른 요소와 겹치지 않도록 */
  padding-bottom: 50px; /* 아래 공간 확보 */
}

.container-back::before {
  content: ''; /* 伪元素需要content属性才能显示 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(125, 153, 125, 0.5); */
  background-color: #9470db2e;
   /* 绿色背景，透明度为0.2 */
  z-index: 0; /* 确保伪元素位于内容之下 */
}

.main_container {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 100px;
  /* 距离页面顶部 100px */
  left: 900px;
  /* 距离页面左侧 200px */
  background: rgb(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.availability-form {
  display: flex;
  flex-direction: column;
}

.main_h2 {
  font-size: 24px;
  padding: 20px 0px;
  font-family: 'Georgia', serif;
  margin: 0 auto;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 3px;
}

input,
select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.main_submit {
  padding: 10px 15px;
  /* background-color: #83ab85; */
  /* background-color: #9370DB; */
  background-color: #9f4298;

  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.main_submit:hover {
  background-color: #1d3e24;
}
.submit_text{
color: #ffffff;
text-decoration: none;
}

.vehicle-description {
  font-size: 12px;
  color: #666;
  /* 颜色变浅 */
  margin-top: -10px;
  /* 与选择框保持紧密 */
  margin-bottom: 20px;
  /* 与下一个输入框的间距 */
}

.form-group {
  display: flex;
  flex-direction: column; /* 修改为column使标签位于输入框上方 */
  align-items: flex-start; /* 保证内容靠左对齐 */
  margin-bottom: 10px; /* 保留适当的间距 */
}

.form-group label {
  margin-bottom: 5px; /* 在标签和输入框之间增加间距 */
}

.form-group input,
.form-group select {
  width: 100%; /* 输入框宽度调整为100% */
}

.main-text-box {
  position: absolute;
  top: 35%;
  left: 8%;
  max-width: 620px;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.main-button{
  place-items: center;
}

.main-text-box p {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

.main-cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 200px;
  background-color: #ffffff; /* 按钮颜色 */
  color: #455b45;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.main-cta-button:hover {
  background-color: #0b2a0b; /* 悬停时颜色变化 */
  color: white;
}

/* mian-soge 섹션을 자연스럽게 페이지 아래로 배치 */
.mian-soge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.hero-title {
  text-align: center;
  font-size: 3rem;
  font-family: 'Georgia', serif;
  margin: 80px 0px 10px 0px;
  color: #4a4a4a;
}

.text-content {
  flex: 1;
  max-width: 50%;
  padding-right: 20px;
  margin-left: 40px;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 20px;
}


.image-gallery {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; */
  flex: 1;
}

.gallery-item {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.gallery-item1 {
  width: 90%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-image: url('../move_img/move-3.jpg'); 
}

.gallery-item2 {
  width: 75%;
  margin: 10px 0px 20px 0px;
  background-image: url('../move_img/move-4.jpg');
}

.gallery-item3 {
  margin-left: 30px;
  background-image: url('../move_img/move-1.jpg'); 
}